@keyframes anime1 {
    /* from {
        width: 150px;
    }
    to {
        width: 950px;
    }
    */
    0% {
        width: 150px;
    }
    20% {
        width: 1000px;
        height: 150px
    }
    50% {
        height: 400px;
        border-radius: 0%;
    }
    70% {
        border-radius: 50%;
        margin-top: 0%;
        border: solid 5px gray;
    }
    100% {
        margin-top: 200px;
        width: 150px;
        border: solid 20px gold;
    }
}

.box {
    width: 150px;
    height: 150px;
    border: solid 5px gray;
    background-color: aqua;
    margin: auto;
    animation-name: anime1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-delay: 5s; */
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}